.page {
  background: #c5adc2;
}

.page__content {
  background-color: #f8fafc;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.page__section {
  width: 100%;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.page__section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #0f172a;
  border-bottom: 3px solid #2563eb;
  display: inline-block;
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.page__section-subtitle {
  color: #475569;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .page__content {
    padding: 0 3%;
  }

  .page__section {
    padding: 3% 5%;
  }
}
